.count {
    font-size: 36px;
    font-weight: 700;
    margin: 40px 0 20px;
}

button {
    padding: 5px 12px;
    margin: 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
}

button.add {
    background: linear-gradient(#c2fbd7, #82F7AD);
    color: green;
}

button.reset {
    background: linear-gradient(#54a0ff, #2e86de);
}

button:hover {
  transform: scale(1.05);
}

button.subtract {
    background: linear-gradient(#FF6B6B, #EE5253);
}
